body {
  background: url(newrepkah.svg) no-repeat center fixed;
  background-size: cover;
  background-color: #80DEEA;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 600;
}
input {
  padding: 0.2rem;
  padding-left: 0.5rem;
  border-radius:100px;
  border: none;
  outline: none;
}
.RoundButton {
  border-radius:100px;
  font-size:14px;
  padding:6px 16px;
  cursor: pointer;
  position:relative;
  text-align:center;
  border:1px solid #fff;
  color:#fff;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.RoundButton:active:before {
  box-shadow:0 0 0 2px rgba(255,255,255,0.8);
}
.RoundButton:active {
   color: #fff;
}
.RoundButton:hover {
  background-color: #fff;
  border-color: #fff;
  color: #00c853;
}
.RoundButton:focus:before, .RoundButton:active:before{
  border-radius:inherit;
  content:"";
  bottom:-2px;
  left:-2px;
  right:-2px;
  top:-2px;
  position:absolute;
}
A:link {text-decoration: none; color: black;}
A:visited {text-decoration: none; color: black; text-align: center;}
A:active {text-decoration: none; color: black; text-align: center;}
A:hover {text-decoration: none; color: black;}
