@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
.kek {
    font-size: 5rem;
    font-weight: 400;
}
.block3 {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    height: 10rem;
}
A:link {text-decoration: none; color: black;}
A:visited {text-decoration: none; color: black; text-align: center;}
A:active {text-decoration: none; color: black; text-align: center;}
A:hover {text-decoration: none; color: black;}
